<div class="menu">
    <ul id="menu">
        <li><a href="#"><i class="fa fa-tachometer"></i> <span>Dashboard</span><div class="clearfix"></div></a></li>
        <li id="menu-academico"><a href="#"><i class="fa fa-users nav_icon"></i><span>Quản lý nhà Thành viên</span><div class="clearfix"></div></a></li>
        <li id="menu-academico"><a href="@Url.Action("AddProduct","Product")"><i class="fa fa-users nav_icon"></i><span>Update Product</span><div class="clearfix"></div></a></li>
        <li id="menu-academico"><a href="@Url.Action("Index","OrderApproval")"><i class="fa fa-users nav_icon"></i><span>Order Approval</span><div class="clearfix"></div></a></li>
        <li id="menu-academico"><a href="#">Tới trang Chủ</a></li>

    </ul>
</div>

